<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Lipsync for your life </a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Accueil</a></li>
      <li><a href="/songsArtist">Lister les chansons par artiste</a></li>
      <li><a href="/artistes">Voir les artistes</a></li>
    </ul>
  </div>
</nav>
<input type="search" id="searchArtists"
       aria-label="Ecrivez le nom d'un artiste">
<button id="btnSearchArtist">Search</button>

</body>
<footer>
  <script type="text/javascript" src="./controller/songArtistController.js"></script>
</footer>
</html>